@import "bootstrap/scss/bootstrap";

nav.navbar a.icon-link {
    color: #fff;
    text-decoration: none;
}

.home-collage {
    bottom: 0;
    height: 150px;
    left: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

.home-collage-cards {
    height: 100%;
    margin-left: 50%;
    position: relative;
    -webkit-transform: translateX(-50%) scale(0.75);
    -o-transform: translateX(-50%) scale(0.75);
    transform: translateX(-50%) scale(0.75);
    width: 655px;
}

.home-collage a {
    display: block;
    height: 100px;
    position: absolute;
    -webkit-transform: translateY(0) scale(0.5);
    -o-transform: translateY(0) scale(0.5);
    transform: translateY(0) scale(0.5);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: -o-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s, -o-transform 0.3s;
    width: 168px;
}

.home-collage a:nth-child(1) {
    left: 0;
    top: 22px;
}

.home-collage a:nth-child(2) {
    left: 174px;
    top: 10px;
}

.home-collage a:nth-child(3) {
    left: 347px;
    top: 16px;
}

.home-collage a:nth-child(4) {
    right: 0;
    top: 35px;
}

.home-collage a:nth-child(5) {
    left: 35px;
    top: 62px;
}

.home-collage a:nth-child(6) {
    left: 206px;
    top: 45px;
}

.home-collage a:nth-child(7) {
    left: 380px;
    top: 65px;
}

#results {
    margin-top: 7em;
    margin-bottom: 3em;
}

#pager ul.pagination {
    margin: 0.5em auto;
}

.lead .text-bg-warning.p-1 {
    transform: skewY(-3deg);
    display: inline-block;
    font-weight: bold;
}

.card {
    border: none;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    border-radius: 0.5rem;
    
    &:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        background-color: #f2f1f1;
    }
}
.card .card-img-top {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
.card-body {
    padding: 1rem;
}
.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.75rem;
}

.card,
.card img.card-img-top {
    min-width: 200px;
}

.card .icon-link {
    display: inline-block;
}

.card .icon-link svg {
    width: 28px;
    height: 28px;
    display: inline-block;
}

.card .icon-link.icon-link-hover:hover {
    transform: scaleX(.9) scaleY(.9);
}

/* Additional styling for badges */
.card .list-group-item {
    display: flex;
    justify-content: space-between;
}
.card .badge {
    font-size: 0.9rem;
    padding: 0.5em;
}

#favslist:empty {
    background-color: #f2f1f1;
}

#favslist:empty::before {
    content: "Favs Will Show Up Here!";
}

#favslist a.icon-link {
    color: #333;
}

#favslist a.icon-link svg {
    fill: red;
}

@media only screen and  (max-width: 400px) {
    nav.navbar #authcta.icon-link,
    nav.navbar #favscta.icon-link {
        text-indent: -9999px;
        margin-right: 0.5em;
    }
    
}

@media only screen and  (max-width: 655px) {
    .home-collage .home-collage-cards {
        margin-left: 40%;
    }
}